
<div class="mt-4">
	<form method="POST" action="/products/{{productsdetails._id}}/updateDetail?_method=PUT">

    <div class="form-group">
        <label for="giaTienBanRa">Giá tiền bán ra</label>
        <input type="text" class="form-control"value="{{productsdetails.giaTienBanRa}}" id="giaTienBanRa" name="giaTienBanRa"placeholder="Giá tiền bán ra">
    </div>
    <div class="form-group">
        <label for="soLuongCon">Số lượng còn</label>
        <input type="text" class="form-control" id="soLuongCon"value="{{productsdetails.soLuongCon}}" name="soLuongCon"placeholder="Số lượng còn lại">
    </div>
        <div class="form-group">
        <label for="size">Trọng lượng (g)</label>
        <input type="text" class="form-control"value="{{productsdetails.size}}" id="size"name="size"placeholder="Trọng lượng sản phẩm (g)">
    </div>
    <div class="form-group">
        <h3 for="tinhTrang">Tình trạng</h3>
        <input type="combobox" class="form-control" value="{{productsdetails.tinhTrang}}" id="tinhTrang"name="tinhTrang"placeholder="Trình trạng sản phẩm" hidden>

        <select id="selectTinhTrang" name="selectTinhTrang">
        <option id="optTinhTrang0" value="Còn hàng">Còn hàng</option>
        <option id="optTinhTrang1" value="Tạm hết hàng">Tạm hết hàng</option>
        <option id="optTinhTrang2" value="Ngừng kinh doanh">Ngừng kinh doanh</option>
        </select>
    </div>
        <input type="combobox" class="form-control" value="{{productsdetails.idProduct}}" id="idProduct"name="idProduct"hidden>

    <script>
        var lengthSelect = document.getElementById("selectTinhTrang").length;
        var temp = document.getElementById("tinhTrang").value;
        for(var i=0;i<lengthSelect;i++){
            var idOpt = "optTinhTrang"+i;
            var valueOpt = document.getElementById(idOpt).value;
            if( valueOpt ==temp){
        document.getElementById("selectTinhTrang").selectedIndex=i;

            }
        document.getElementById("giaTienBanRa").oninput = function(){
            var soTien = document.getElementById("giaTienBanRa").value
            document.getElementById("giaTienBanRa").innerHTML = parseInt(soTien).toLocaleString() +"  VND";
        }
        }
    </script>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-primary">Lưu sửa đổi</button>
    </form>
</div>