{{>headerAdmin}}

<div class="mt-4">
    <h3>Sửa đổi thông tin sản phẩm</h3>
    <form method="POST" action="/products/{{products._id}}?_method=PUT">
    <div class="form-group">
        <label for="productsName">Tên sản phẩm</label>
        <input type="text" class="form-control" value="{{products.tenSanPham}}" id="tenSanPham" name="tenSanPham"placeholder="Tên sản phẩm">
    </div>
    <div class="form-group">
        <label for="moTa">Mô tả sản phẩm</label>
        <textarea type="text" class="form-control" id="moTa" name="moTa"placeholder="Mô tả sản phẩm">{{products.moTa}}</textarea>
    </div>
    <div class="form-group">
        <label for="moTa">Hình ảnh</label>
        <input type="text" class="form-control" value="{{products.image}}" id="image" name="image"placeholder="Liên kết hình ảnh">
    </div>
    <div class="form-group">
        <label for="tinhTrang">Tình trạng</label>
        <input type="combobox" class="form-control" value="{{products.tinhTrang}}" id="tinhTrang"name="tinhTrang"placeholder="Trình trạng sản phẩm">
    </div>
    <div class="form-group">
        <label for="soLuongCon">SoLuongCon</label>
        <input type="text" class="form-control" value="{{products.soLuongCon}}" id="soLuongCon"name="soLuongCon"placeholder="Số lượng còn lại">
    </div>
    <button type="submit" class="btn btn-primary">Lưu sửa đổi</button>
    </form>
</div>