{{>headerUser}}

<div class="mt-4">
    <form method="POST" action="/products/{{products._id}}?_method=POST">

    <div class="row">
        <div class="col-lg-9">
            <h2>{{products.tenSanPham}}</h2>
                    <img src="{{products.image}}" class="card-img-top" alt="{{products.image}}">
            <p>{{products.moTaChiTiet}}</p>
        </div>
        <div class="col-lg-3">
            <button id="btn-add"  type="submit" class="btn btn-primary">Thêm vào giỏ hàng</button>
        </div>
    </div>
    </form>
</div>
