{{>headerUser}}

<div class="mt-4">
  <h2> 
    Giỏ hàng của bạn
  </h2>
    <table class="table">
    <form id="restore-product-form"name="restore-product-form" method="POST">

        <thead>
            <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col" colspan="2">Hình ảnh</th>
            </tr>
        </thead>
        <tbody>
            {{#each carts}}
            <tr>
              
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.tenSanPham}}</td>
            <td>
            <input type="number" min="1" max="20"class="form-control" value="{{this.soLuong}}" id="soLuong" name="soLuong"placeholder="Chọn số lượng mua">
            
            <td>
              <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}"></td>        


            <td>

                <a id="btn-select"href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModalRestore">Cập nhật</a>
                <a id="btn-select"href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModalDelete">Xóa</a>


            </td>
            </tr>
            {{/each}}
<div class="form-group">
        <label for="tongTien">tongTien</label>
        <input type="number" class="form-control" id="tongTien" value="" name="tongTien"disabled>
        </tbody>
        
    </div>
    </form>
    </table>

</div>

<!--Form Xóa-->

<div class="modal fade" id="exampleModalRestore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận cập nhật</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn cập nhật sản phẩm ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-restore" type="button" class="btn btn-danger">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<!--Confirm Delete Button -->

<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa khỏi giỏ hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa sản phẩm khỏi giỏ hàng?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xác nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!--Event xóa-->
<script>
    document.addEventListener('DOMContentLoaded',function(){
        var idDelete;
        var idRestore;
        var restoreForm = document.getElementById('restore-product-form');

        var deleteForm = document.getElementById('restore-product-form');
        var btnDelete = document.getElementById('btn-delete');
        var btnRestore = document.getElementById('btn-restore');





        $('#exampleModalRestore').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        idRestore = button.data('id')

        });

        $('#exampleModalDelete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        idDelete = button.data('id')
        });

        btnRestore.onclick = function(){
            restoreForm.action = '/products/'+idRestore + '/updateCart?_method=PUT';
            restoreForm.submit(); 

        }
        btnDelete.onclick = function(){
            deleteForm.action = '/products/'+idDelete + '/deleteCart?_method=DELETE';
            deleteForm.submit();
        }
    })

</script>