<div class="mt-4">
  <h2> 
    Giỏ hàng của bạn
  </h2>


    <table class="table">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">STT</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá tiền</th>
            <th scope="col" colspan="2">Hình ảnh</th>
            </tr>
        </thead>
        <tbody>
    <form id="restore-product-form"name="restore-product-form" method="POST">

            {{#each carts}}

            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox"name="checkboxItem" value="" id="checkbox{{this.slug}}">

                  </div>
                </td>
            <th scope="row">{{sum @index 1}}</th>
            <td id="Test">{{this.tenSanPham}}</td>
            <td>
            <input type="number" min="1" max="20"class="form-control" value="{{this.soLuong}}" id="soLuong{{this.slug}}" name="soLuong{{this._id}}"placeholder="Chọn số lượng mua">
            <td >
            <h4 class="tongGiaTien"id="tongGiaTien{{this.slug}}" name="tongGiaTien{{this.slug}}" >{{this.tongTien}}  </h4>

            </td>
            <td>
              {{!-- <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}"></td>         --}}


            <td>

                <a id="btn-select"href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModalRestore">Cập nhật</a>
                <a id="btn-select"href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModalDelete">Xóa</a>

            </td>
                        <input type="text" class="form-control" value="{{this.tongTien}}" id="tongTien{{this.slug}}" name="tongTien{{this._id}}" hidden>
                        <input type="text" class="form-control" value="" id="tongTienGioHang" name="tongTienGioHang" hidden>

            </tr>

            {{/each}}
    </form>

        </tbody>
        
    </div>

    </table>
    </div>