{{>headerUser}}
        <link rel="stylesheet" href="/css/home.css">

<div class="mt-4">
    <div class="row">

        {{#each products}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-products-item">
                <a href="/products/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
                </a>
                <div class="card-body">
                <a href="/products/{{this.slug}}">
                    <h5 class="card-title">{{this.tenSanPham}}</h5>

                </a>
                    <p class="card-text">{{this.moTa}}</p>
                    <p class="card-status">{{this.tinhTrang}}</p>
                    <p class="card-status">Còn lại : {{this.soLuongCon}}</p>

                    <a href="/products/{{this.slug}}" class="btn btn-primary">Chi tiết</a>
                    <button type="submit" class="btn btn-primary">Thêm vào giỏ hàng</button>


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>